<%= turbo_stream.append :posts do %>
  <% @posts.each do |post| %>
    <%= render "posts/post", post: post %>
  <% end %>
<% end %>

<%= turbo_stream.replace :pagination do %>
  <% if @pagy.next.present? %>
    <%= turbo_frame_tag :pagination, src: trip_path(page: @pagy.next, format: :turbo_stream), loading: :lazy do %>
      <div class="spinner-border text-primary mt-3 align-self-center" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    <% end %>
  <% end %>
<% end %>