<%= turbo_stream.append :posts do %>
  <% @posts.each do |post| %>
    <%= render "posts/post", post: post %>
  <% end %>
<% end %>

<%= turbo_stream.replace :pagination do %>
  <% if @pagy.next.present? %>
    <div class="d-flex justify-content-center">
      <%= link_to "Load more",
        posts_path(page: @pagy.next),
        class: "btn btn-primary",
        data: { turbo_frame: "pagination" } %>
    </div>
  <% end %>
<% end %>