<html>
  <div
    style="display: table; background: #5e77da; color: #fff; text-align: center; align-items: center;
      border-radius: 0.5em; font-size: 1em; padding: 1em;
      font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      width: 95%; margin: 0 auto; align-items: center;"
  >
    <div>
      <%= email_image_tag("desktop-logo.png") %>
    </div>
    <p>Hey there, <%=@user.username %></p>
    <p>
      You can reset your password within the next 15 minutes on
      <%= link_to "this password reset page", edit_password_url(@user.password_reset_token) %>.
    </p>
    <p>
      If you did not request a password reset, please ignore this email.
    </p>
  </div>
</html>
