<html>
  <div
    style="display: table; background: #5e77da; color: #fff; text-align: center; align-items: center;
      border-radius: 0.5em; font-size: 1em; padding: 1em;
      font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      width: 95%; margin: 0 auto; align-items: center;"
  >
    <div>
      <%= email_image_tag("desktop-logo.png") %>
    </div>
    <p>Hey it's Josh from Footprints. Thanks for signing up—great to have you here.</p>

    <p>Before you get started, we just need to confirm that <strong><%= @user.email %></strong> is your email. This is where we'll send password reset links if you ever need one.</p>

    <p><strong>Click the button below to verify your email:</strong></p>

    <%= link_to "Verify email",
      identity_email_verification_url(sid: @signed_id),
      style:"background:#3454D1; border-color:#3454D1; color: white; border-radius: 0.375rem; padding: 6px 12px;
        text-decoration: none;" %>
  </div>
</html>