<%= turbo_frame_tag "location-list" do %>
  <% if @geolocations.present? %>
    <div
      class="form-group"
    >
      <%= select_tag 'user_id[]',
        options_for_select(@geolocations),
        class: "form-control search-results",
        multiple: true,
        data: { action: "click->location#chooseLocation" }
      %>
    </div>
  <% end %>
<% end %>