<%= turbo_stream.remove "post_comment_#{@post_comment.id}" %>

<%= turbo_stream.replace "post-#{@post.id}__comment-count" do %>
  <button id='<%= "post-#{@post.id}__comment-count" %>' class= "btn px-0" style="background: none; border: none;">
    <i class="bi bi-chat"></i>
    <%= @post.comments.count %>
  </button>
<% end %>