$primary: #3454D1;
$primary-content: #F9F9F9;
$primary-medium: #E3EAF4;
$primary-light: #5e77da;
$primary-dark: #2742ab;

$breakpoint: 999px;
$trip-map-width: 600px;
$trip-map-height: 500px;
$trip-map-mobile-height: 300px;

.post-image {
  max-width: 400px;
  max-height: 400px;

  @media screen and (max-width: $breakpoint) {
    max-width: 300px;
    max-height: 300px;
  }
}

.bi-heart::before {
  padding-top: 6px;
}

.carousel {
  max-width: 400px;

  @media screen and (min-width: $breakpoint) {
    align-self: center;
  }
}

.carousel-inner {
  height: 400px;
  margin-bottom: 1em;
  overflow: visible;
  clip-path: inset(0 0 -100% 0);


  @media screen and (max-width: $breakpoint) {
    height: 300px;
  }
}

.trip {
  max-width: 1200px;

  @media screen and (max-width: $breakpoint) {
    width: 100vw;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.trip-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  padding-top: 0.25rem;
  margin-bottom: 1.5rem;
}

.container {
  display: flex;
  justify-content: center;
}

.maplibregl-ctrl-bottom-right {
  display: none;
}

.modal-dialog {
  height: 100vh;
  align-content: center;
}

.image-preview {
  svg {
    width: 100%;
    height: 100%;
  }
}

.search-results {
  padding: 1em;
  position: absolute;
  width: 100%;
  z-index: 101;
  select {
    border: none;
    outline: none;
    line-height: 32px;
    width: 100%;
    option {
      padding: 5px;
      &:hover {
        background:#eee;
      }
    }
  }
}

.trix-content {
  width: 100%;
}

.desktop-only {
  display: none;

  @media screen and (min-width: $breakpoint) {
    display: block;
  }
}

.mobile-only {
  display: none;
  @media screen and (max-width: $breakpoint) {
    display: block;
  }
}

.search-map {
  height: 400px;

  .mapboxgl-canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

.trip-map {
  width: 100%;
  min-width: 500px;
  height: $trip-map-height;
  top: 5em;
  margin-top: 3em;

  @media screen and (max-width: $breakpoint) {
    width: 100%;
    height: $trip-map-mobile-height;
    min-width: unset;
    top: 0;
    margin-top: 1em;
  }
}

.custom-popup {
  background-color: $primary-content;
  border-radius: 0.5em;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.companion {
  color: white;
  background: transparent;
  width: fit-content;
  text-align: center;
  padding: 0.5em;
  min-width: 4em;
  border-radius: 3em;
}

.checkbox-inside {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding: 0.5em;
  border: 1px solid #ced4da;
  border-radius: 0.25em;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.btn-success {
  background-color: $primary;
  border-color: $primary;
  &:hover {
    background-color: $primary-light;
    border-color: $primary-light;
  }
}

.dropdown-menu {
  z-index: 1500;
}

.bg-primary {
  background-color: $primary !important;
}

// Themes

[data-bs-theme="dark"] {
  .navbar {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15);
    background: $primary;
  }

  trix-toolbar {
    background-color: #2d333b;
  }

  .maplibregl-popup-content {
    background-color: #2d333b;
    color: white;

    .bi-person-circle {
      color: white !important;
    }
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    filter: invert(0) grayscale(100%) !important;
  }

  .carousel-indicators {
    margin-top: 100px;
    filter: invert(0) grayscale(100%) !important;
    button {
      background-color: white !important;
    }
  }

  .logo-text {
    fill: white;
    svg{
      g {
        fill: white;
      }
    }
  }

}

[data-bs-theme="light"] {
  --bs-body-bg: #{$primary-content};
  --bs-body-bg-rgb: #{to-rgb($primary-content)};
  --bs-border-color: #{$primary-medium};

  .logo-text {
    fill: $primary;
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    filter: invert(1) grayscale(100);
  }

  .carousel-indicators {
    filter: invert(1) grayscale(100);
  }

  .bi-person-circle {
    color: #333 !important;
  }

  .bg-light-subtle{
    background-color: $primary-medium !important;

    .dropdown-item {
      color: unset !important;
    }
  }

  .navbar {
    background: $primary;
  }
  .dropdown-menu {
    --bs-dropdown-bg: #{$primary-content};
    --bs-dropdown-link-active-bg: #{$primary-light};
    --bs-dropdown-link-color: var($primary-light);
  }

  .dropdown-item {
    --bs-dropdown-item-active-color: var($primary-light);
    --bs-dropdown-item-active-bg: #{$primary-medium};

    &:hover:not(.active) {
      background-color: #{$primary-medium};
    }
  }

  .dropdown-btn {
    color: white;
    --bs-btn-bg: #{$primary-content};
    --bs-btn-border-color: #{rgba($primary-light, .25)};
    --bs-btn-hover-bg: #{darken(mix($primary-content, $primary-light, .5), 5%)};
    --bs-btn-hover-border-color: #{rgba($primary-light, .25)};
    --bs-btn-active-bg: #{darken(mix($primary-content, $primary-light, .5%), 10%)};
    --bs-btn-active-border-color: #{rgba($primary-light, .5)};
    --bs-btn-focus-border-color: #{rgba($primary-light, .5)};
    --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
  }

  trix-toolbar {
    background-color: $primary-medium;
    border-color: #dee2e6;
  }
}