<%= turbo_frame_tag "user-list" do %>
  <% if @users.present? %>
    <div class="form-group">
      <%= select_tag 'user_id[]',
        options_for_select(@users.map { |user| [user.username, user.id] }),
        class: 'form-control',
        multiple: true,
        data: { action: "click->search-users#selectResult" }
      %>
    </div>
  <% else %>
    <p>No users found</p>
  <% end %>
<% end %>