<div
  class="container-md d-flex flex-column justify-content-center text-center border border-light-subtle rounded p-3"
>
  <p>
    There are no posts yet.
  </p>

  <div class="d-flex justify-content-center">
    <% if Current.user == @trip.user %>
      <%= link_to "Add a post",
        new_post_path(trip_id: @trip.id),
        class: "btn btn-success",
        style: "max-width: 10em",
        data: { turbo_frame: dom_id(Post.new) } %>
    <% end %>
  </div>
</div>