<div class="container align-items-center d-flex flex-column" style="max-width: 50em;">
  <div class="d-flex flex-row gap-1 w-100 justify-content-end">
    <%= link_to trip_path(@post.trip), class: "btn btn-secondary", style:"width:9em;" do %>
      <i class="bi bi-arrow-left"></i>
      Back to trip
    <% end %>
  </div>
  <%= render @post %>
</div>