<nav
  style="width: 100%;"
  class="sticky-top top-0 d-flex flex-row navbar p-2"
>
  <%= render "layouts/theme_switcher" %>
  <div class="dropdown">
    <a data-bs-toggle="dropdown" class="btn dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink"
      role="button" data-mdb-toggle="dropdown" aria-expanded="false">
      <% if Current.user.profile_picture.attached? %>
        <%= image_tag Current.user.image_as_thumbnail, class:"rounded-circle", style:"height: 22px; width: 22px;" %>
      <% end %>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-profile">
      <li>
        <%=
          link_to "My profile",
          user_path(username: Current.user.username),
          class: "dropdown-item"
        %>
      </li>
      <li>
        <%=
          link_to "Edit profile",
          edit_user_path(username: Current.user.username),
          class: "dropdown-item"
        %>
      </li>
      <li>
        <a class="dropdown-item" href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav>